body {
	background-color: lightblue;
}
.wrapper {
	border: 2px solid;
	width: 800px;
	margin: 0 auto;
}
.imageLeft {
	float: left;
	margin: 10px;
	clear: right;
	border: 2px solid;
}
.imageRight {
	float: right;
    margin: 10px;
    clear: left;
    border: 2px solid;
}
h2 {
	margin-left: 10px;
}